@import url("../css/global.css");

.display-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10rem,1fr));
    gap: 1rem;
}

.box{
    background-color: var(--bg-primary);
    border: 4px solid var(--bg-danger);
    padding: 3rem;
    text-align: center;
}
.keywords{
    color:var(--bg-primary);
}