<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grid</title>
    <link rel="stylesheet" href="/Components/usage.css">
    <link rel="stylesheet" href="grid.css">
</head>
<body>
    <header class="page-header">
        <a class="brandname-link" href="/index.html">
            <span class="brandname">
                <img
                    class="brandname-logo"
                    src="../Images/EDITH.jpg"
                    alt="logo"
                />
                <span class="brandname-title">E.D.I.T.H</span>
            </span>
        </a>
    </header>

    <nav class="site-nav">
        <div class="nav-main-heading">Getting Started</div>

        <div class="nav-sub-heading">
            <a href="../usage.html">Usage</a>
        </div>

        <div class="nav-main-heading">Components</div>
        <ul class="nav-comp-section">
            <li class="component-links">
                <a href="../Avatar/avatar.html">Avatar</a>
            </li>
            <li class="component-links">
                <a href="../Alert/Alert.html">Alert</a>
            </li>
            <li class="component-links">
                <a href="../Buttons/Buttons.html">Buttons</a>
            </li>
            <li class="component-links">
                <a href="../Badge/badge.html">Badge</a>
            </li>
            <li class="component-links">
                <a href="../Card/card.html">Card</a>
            </li>   
            <li class="component-links">
                <a href="../Image/image.html">Image</a>
            </li>
            <li class="component-links">
                <a href="../Input/input.html">Input</a>
            </li>
            <li class="component-links">
                <a href="../List/list.html">List</a>
            </li>
            <li class="component-links">
                <a href="../Navigation/navigation.html">Navigation</a>
            </li>
            <li class="component-links">
                <a href="../Modal/modal.html">Modal</a>
            </li>
            <li class="component-links">
                <a href="../Utilities/utilities.html">Utilities</a>
            </li>
            <li class="component-links">
                <a href="../Grid/grid.html" class="active">Grid</a>
            </li>
            <li class="component-links">
                <a href="../Star/star.html">Star</a>
            </li>
        </ul>
    </nav>
    <main class="comp-disp">
        <h1 class="comp-disp-header">Grid Layout</h1>
        <script src="https://emgithub.com/embed.js?target=https%3A%2F%2Fgithub.com%2Fanandsr21harshit%2FEdith%2Fblob%2Ftemp-dev%2FComponents%2Fsnippet%2Fgrid-css.txt&style=darcula&showCopy=on"></script>
        <p class="comp-desc">Grids adapt to screen size and orientation, ensuring consistency across layouts. For using grids, you have to add <span class="keywords">display-grid</span> as class name. The given grid is responsive. The number of columns will change if width is not sufficient.</p>

        <h2 class="sub-comp-header">Grid Layout of two items</h2>
        <div class="display-grid">
            <div class="box">Box 1</div>
            <div class="box">Box 2</div>
        </div>
        <script src="https://emgithub.com/embed.js?target=https%3A%2F%2Fgithub.com%2Fanandsr21harshit%2FEdith%2Fblob%2Ftemp-dev%2FComponents%2Fsnippet%2Fgrid.txt%23L1-L4&style=darcula&showCopy=on"></script>

        <h2 class="sub-comp-header">Grid Layout of three items</h2>
        <div class="display-grid">
            <div class="box">Box 1</div>
            <div class="box">Box 2</div>
            <div class="box">Box 3</div>
        </div>
        <script src="https://emgithub.com/embed.js?target=https%3A%2F%2Fgithub.com%2Fanandsr21harshit%2FEdith%2Fblob%2Ftemp-dev%2FComponents%2Fsnippet%2Fgrid.txt%23L6-L10&style=darcula&showCopy=on"></script>
        <footer class="page-footer">
            <a href="/Components/Card/card.html" class="footer-button">&lt; Utilities</a>
            <a href="/Components/Star/star.html" class="footer-button">Star &gt;</a>
        </footer> 
    </main>
</body>
</html>