<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/layout.css">
    <link rel="stylesheet" href="card.css">
    <title>Card</title>
</head>
<body>
    <header class="page-header">
        <a class="brandname-link" href="/index.html">
            <span class="brandname">
                <img
                    class="brandname-logo"
                    src="../Images/EDITH.jpg"
                    alt="logo"
                />
                <span class="brandname-title">E.D.I.T.H</span>
            </span>
        </a>
    </header>

    <nav class="site-nav">
        <div class="nav-main-heading">Getting Started</div>

        <div class="nav-sub-heading">
            <a href="../usage.html">Usage</a>
        </div>

        <div class="nav-main-heading">Components</div>
        <ul class="nav-comp-section">
            <li class="component-links">
                <a href="../Avatar/avatar.html">Avatar</a>
            </li>
            <li class="component-links">
                <a href="../Alert/Alert.html">Alert</a>
            </li>
            <li class="component-links">
                <a href="../Buttons/Buttons.html">Buttons</a>
            </li>
            <li class="component-links">
                <a href="../Card/card.html">Card</a>
            </li>   
            <li class="component-links">
                <a href="../Image/image.html">Image</a>
            </li>
            <li class="component-links">
                <a href="../Input/input.html">Input</a>
            </li>
        </ul>
    </nav>

    <main class="comp-disp">
        <h1 class="comp-disp-header">Card</h1>
        <h2 class="sub-comp-header">Simple Card</h2>
        <div class="card-container">
            <div class="card">
                <div class="card-img">
                    <img src="./images/cafe.jpg" alt="Cafeteria">
                </div>
                <div class="card-title">
                    D'Hoot Cafe
                </div>
                <div class="card-sub-title">
                    <img src="./images/geo-alt-fill.svg" alt="Location Icon">
                    Boring Road,Patna
                </div>
                <div class="card-content">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum ut maiores odit, inventore dolores iure assumenda exercitationem dolorem eveniet unde? Est distinctio placeat nulla, sit deserunt dolore tenetur nobis quaerat.
                </div>
                <footer class="card-footer">
                    <button class="btn btn-primary" type="button">Read More</button>
                    <div class="icons">
                        <img src="./images/like.svg" alt="Like Button">
                        <img src="./images/share.svg" alt="Share Button">
                        <img src="./images/dots-vertical.svg" alt="More Options">
                    </div>
                </footer>
            </div>
        </div>
        <script src="https://emgithub.com/embed.js?target=https%3A%2F%2Fgithub.com%2Fanandsr21harshit%2FEdith%2Fblob%2Fsnippet%2FComponents%2Fsnippet%2Fcard.txt%23L1-L25&style=darcula&showCopy=on"></script>

        <h2 class="sub-comp-header">Card with top heading</h2>
        <div class="card-container">
            <div class="card card-heading-top">
                <div class="card-img">
                    <img src="./images/cafe.jpg" alt="Cafeteria">
                </div>
                <div class="heading">
                    <div class="card-title">
                        D'Hoot Cafe
                    </div>
                    <div class="card-sub-title">
                        <img src="./images/geo-alt-fill.svg" alt="Location Icon">
                        Boring Road,Patna
                    </div>
                </div>
                <div class="card-content">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum ut maiores odit, inventore dolores iure assumenda exercitationem dolorem eveniet unde? Est distinctio placeat nulla, sit deserunt dolore tenetur nobis quaerat.
                </div>
                <footer class="card-footer">
                    <button class="btn btn-primary" type="button">Read More</button>
                    <div class="icons">
                        <div class="icons">
                            <img src="./images/like.svg" alt="Like Button">
                            <img src="./images/share.svg" alt="Share Button">
                            <img src="./images/dots-vertical.svg" alt="More Options">
                        </div>
                    </div>
                </footer>
            </div>
        </div>
        <script src="https://emgithub.com/embed.js?target=https%3A%2F%2Fgithub.com%2Fanandsr21harshit%2FEdith%2Fblob%2Fsnippet%2FComponents%2Fsnippet%2Fcard.txt%23L27-L55&style=darcula&showCopy=on"></script>

        <h2 class="sub-comp-header">Card without icons</h2>
        <div class="card-container">
            <div class="card card-without-icons">
                <div class="card-img">
                    <img src="./images/cafe.jpg" alt="Cafeteria">
                </div>
                <div class="heading">
                    <div class="card-title">
                        D'Hoot Cafe
                    </div>
                    <div class="card-sub-title">
                        <img src="./images/geo-alt-fill.svg" alt="Location Icon">
                        Boring Road,Patna
                    </div>
                </div>
                <div class="card-content">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum ut maiores odit, inventore dolores iure assumenda exercitationem dolorem eveniet unde? Est distinctio placeat nulla, sit deserunt dolore tenetur nobis quaerat.
                </div>
                <footer class="card-footer">
                    <button class="btn btn-primary" type="button">Read More</button>
                    <div class="icons">
                        <div class="icons">
                            <img src="./images/like.svg" alt="Like Button">
                            <img src="./images/share.svg" alt="Share Button">
                            <img src="./images/dots-vertical.svg" alt="More Options">
                        </div>
                    </div>
                </footer>
            </div>
        </div>
        <script src="https://emgithub.com/embed.js?target=https%3A%2F%2Fgithub.com%2Fanandsr21harshit%2FEdith%2Fblob%2Fsnippet%2FComponents%2Fsnippet%2Fcard.txt%23L57-L85&style=darcula&showCopy=on"></script>

        <h2 class="sub-comp-header">Card without button</h2>
        <div class="card-container">
            <div class="card card-without-button">
                <div class="card-img">
                    <img src="./images/cafe.jpg" alt="Cafeteria">
                </div>
                <div class="heading">
                    <div class="card-title">
                        D'Hoot Cafe
                    </div>
                    <div class="card-sub-title">
                        <img src="./images/geo-alt-fill.svg" alt="Location Icon">
                        Boring Road,Patna
                    </div>
                </div>
                <div class="card-content">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum ut maiores odit, inventore dolores iure assumenda exercitationem dolorem eveniet unde? Est distinctio placeat nulla, sit deserunt dolore tenetur nobis quaerat.
                </div>
                <footer class="card-footer">
                    <button class="btn btn-primary" type="button">Read More</button>
                    <div class="icons">
                        <div class="icons">
                            <img src="./images/like.svg" alt="Like Button">
                            <img src="./images/share.svg" alt="Share Button">
                            <img src="./images/dots-vertical.svg" alt="More Options">
                        </div>
                    </div>
                </footer>
            </div>
        </div>
        <script src="https://emgithub.com/embed.js?target=https%3A%2F%2Fgithub.com%2Fanandsr21harshit%2FEdith%2Fblob%2Fsnippet%2FComponents%2Fsnippet%2Fcard.txt%23L87-L115&style=darcula&showCopy=on"></script>

        <h2 class="sub-comp-header">Card without image</h2>
        <div class="card-container">
            <div class="card card-without-image">
                <div class="heading">
                    <div class="card-title">
                        D'Hoot Cafe
                    </div>
                    <div class="card-sub-title">
                        <img src="./images/geo-alt-fill.svg" alt="Location Icon">
                        Boring Road,Patna
                    </div>
                </div>
                <div class="card-content">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum ut maiores odit, inventore dolores iure assumenda exercitationem dolorem eveniet unde? Est distinctio placeat nulla, sit deserunt dolore tenetur nobis quaerat.
                </div>
                <footer class="card-footer">
                    <button class="btn btn-primary" type="button">Read More</button>
                    <div class="icons">
                        <div class="icons">
                            <img src="./images/like.svg" alt="Like Button">
                            <img src="./images/share.svg" alt="Share Button">
                            <img src="./images/dots-vertical.svg" alt="More Options">
                        </div>
                    </div>
                </footer>
            </div>
        </div>
        <script src="https://emgithub.com/embed.js?target=https%3A%2F%2Fgithub.com%2Fanandsr21harshit%2FEdith%2Fblob%2Fsnippet%2FComponents%2Fsnippet%2Fcard.txt%23L117-L142&style=darcula&showCopy=on"></script>
        
        <h2 class="sub-comp-header">Horizontal Card</h2>
        <div class="card-container">
            <div class="card card-horizontal">
                <div class="heading">
                    <div class="card-title">
                        D'Hoot Cafe
                    </div>
                    <div class="card-sub-title">
                        <img src="./images/geo-alt-fill.svg" alt="Location Icon">
                        Boring Road,Patna
                    </div>
                </div>
                <div class="card-content">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum ut maiores odit, inventore dolores iure assumenda exercitationem dolorem eveniet unde? Est distinctio placeat nulla, sit deserunt dolore tenetur nobis quaerat.
                </div>
                <footer class="card-footer">
                    <button class="btn btn-primary" type="button">Read More</button>
                    <div class="icons">
                        <div class="icons">
                            <img src="./images/like.svg" alt="Like Button">
                            <img src="./images/share.svg" alt="Share Button">
                            <img src="./images/dots-vertical.svg" alt="More Options">
                        </div>
                    </div>
                </footer>
            </div>
        </div>
        <script src="https://emgithub.com/embed.js?target=https%3A%2F%2Fgithub.com%2Fanandsr21harshit%2FEdith%2Fblob%2Fsnippet%2FComponents%2Fsnippet%2Fcard.txt%23L144-L169&style=darcula&showCopy=on"></script>

        <h2 class="sub-comp-header">Card with badge</h2>
        <div class="card-container">
            <div class="card card-with-badge">
                <div class="card-img">
                    <img src="./images/cafe.jpg" alt="Cafeteria">
                </div>
                <span class="badge">Upto 20% Off*</span>

                <div class="heading">
                    <div class="card-title">
                        D'Hoot Cafe
                    </div>
                    <div class="card-sub-title">
                        <img src="./images/geo-alt-fill.svg" alt="Location Icon">
                        Boring Road,Patna
                    </div>
                </div>
                <div class="card-content">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum ut maiores odit, inventore dolores iure assumenda exercitationem dolorem eveniet unde? Est distinctio placeat nulla, sit deserunt dolore tenetur nobis quaerat.
                </div>
                <footer class="card-footer">
                    <button class="btn btn-primary" type="button">Read More</button>
                    <div class="icons">
                        <div class="icons">
                            <img src="./images/like.svg" alt="Like Button">
                            <img src="./images/share.svg" alt="Share Button">
                            <img src="./images/dots-vertical.svg" alt="More Options">
                        </div>
                    </div>
                </footer>
            </div>
        </div>
        <script src="https://emgithub.com/embed.js?target=https%3A%2F%2Fgithub.com%2Fanandsr21harshit%2FEdith%2Fblob%2Fsnippet%2FComponents%2Fsnippet%2Fcard.txt%23L171-L201&style=darcula&showCopy=on"></script>
        <footer class="page-footer">
            <a href="/Components/Buttons/Buttons.html" class="footer-button">&lt; Buttons</a>
            <a href="../Image/image.html" class="footer-button"> Image &gt; </a>
        </footer> 
    </main>
</body>
</html>