@import url("../Buttons/Buttons.css");
@import url("../css/global.css");

.card-container{
    margin: 2rem;
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.card{
    display: flex;
    flex-direction: column;
    box-shadow:  0 0 0.625rem gainsboro;
    width: min-content;
}
.card-img > img{
    width:25rem;
    height: 15rem;
}

.card-title{
    font-size: 1.3rem;
    font-weight: 600;
    margin-left: 0.5rem;
}

.card-sub-title{
    margin-left: 0.5rem;
    font-weight: 600;
}

.card-content{
    color: black;
    font-weight: 500;
    margin-top: 0.5rem;
    margin-left: 0.3rem;
}

.card-footer{
    margin-top: 1rem;
    padding: 1rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.icons{
    display: flex;
    align-items: center;
}

.icons img{
    margin: 0 1rem;
    width: 20px;
    height: auto;
}

/* card 2 */


.card-heading-top .heading{
    order: -1;
}

/* card 3 */

.card-without-icons .card-footer .icons{
    visibility: hidden;
}

/* card 4 */

.card-without-button .card-footer button{
    visibility: hidden;
}  

.card-with-badge{
    position: relative;
}

.badge{
    background-color: white;
    border-radius: 0.2rem;
    width: fit-content;
    position:absolute;
    top: 2rem;
    right: 0;
}

.card-without-image{
    width: 20rem;
}

.card-horizontal{
    width: 40rem;
}

/* Media Query */

@media (max-width:600px){
    .card-img > img {
        width: 16rem;
        height: 10rem;
    }
    .card-title {
        font-size: 1rem;
        font-weight: 600;
        margin-left: 0.5rem;
    }
    .card-sub-title {
        font-size: 1rem;
    }
    .card-content {
        font-size: 0.8rem;
    }
    .btn {
        padding: 0.2rem 0.5rem;
        font-size: 0.8rem;
    }
    .icons img{
        margin: 0 0.5rem;
        width: 1rem;
        height: auto;
    }
}