<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/layout.css">
    <link rel="stylesheet" href="input.css">
    <title>Input</title>
</head>
<body>
    <header class="page-header">
        <a class="brandname-link" href="/index.html">
            <span class="brandname">
                <img
                    class="brandname-logo"
                    src="../Images/EDITH.jpg"
                    alt="logo"
                />
                <span class="brandname-title">E.D.I.T.H</span>
            </span>
        </a>
    </header>

    <nav class="site-nav">
        <div class="nav-main-heading">Getting Started</div>

        <div class="nav-sub-heading">
            <a href="../usage.html">Usage</a>
        </div>

        <div class="nav-main-heading">Components</div>
        <ul class="nav-comp-section">
            <li class="component-links">
                <a href="../Avatar/avatar.html">Avatar</a>
            </li>
            <li class="component-links">
                <a href="../Alert/Alert.html">Alert</a>
            </li>
            <li class="component-links">
                <a href="../Buttons/Buttons.html">Buttons</a>
            </li>
            <li class="component-links">
                <a href="../Badge/badge.html">Badge</a>
            </li>
            <li class="component-links">
                <a href="../Card/card.html">Card</a>
            </li>   
            <li class="component-links">
                <a href="../Image/image.html">Image</a>
            </li>
            <li class="component-links">
                <a href="../Input/input.html" class="active">Input</a>
            </li>
            <li class="component-links">
                <a href="../List/list.html">List</a>
            </li>
            <li class="component-links">
                <a href="../Navigation/navigation.html">Navigation</a>
            </li>
            <li class="component-links">
                <a href="../Modal/modal.html">Modal</a>
            </li>
            <li class="component-links">
                <a href="../Utilities/utilities.html">Utilities</a>
            </li>
            <li class="component-links">
                <a href="../Utilities/utilities.html">Utilities</a>
            </li>
            <li class="component-links">
                <a href="../Grid//grid.html">Grid</a>
            </li>
        </ul>
    </nav>

    <main class="comp-disp">
        <h1 class="comp-disp-header">Input Element</h1>
        <script src="https://emgithub.com/embed.js?target=https%3A%2F%2Fgithub.com%2Fanandsr21harshit%2FEdith%2Fblob%2Fdev%2FComponents%2Fsnippet%2Finput-css.txt&style=darcula&showCopy=on"></script>
        <h2 class="sub-comp-header">Standard Input</h2>
        <div class="input-container">
            <label for="userName">UserName*</label>
            <input class="input input-primary" type="text" placeholder="Type username">
        </div>
        <script src="https://emgithub.com/embed.js?target=https%3A%2F%2Fgithub.com%2Fanandsr21harshit%2FEdith%2Fblob%2Fsnippet%2FComponents%2Fsnippet%2Finput.txt%23L1-L4&style=darcula&showCopy=on"></script>
        
        <h2 class="sub-comp-header">Validation Input</h2>
        <div class="input-container">
            <label for="userName">Password*</label>
            <input class="input input-error" type="text">
            <div class="error-txt">Incorrect password</div>
        </div>
        <script src="https://emgithub.com/embed.js?target=https%3A%2F%2Fgithub.com%2Fanandsr21harshit%2FEdith%2Fblob%2Fsnippet%2FComponents%2Fsnippet%2Finput.txt%23L6-L10&style=darcula&showCopy=on"></script>
        
        <h2 class="sub-comp-header">Radio Button</h2>
        <div class="radio-container">
            <label for="radio-1">
                <input id="radio-1" name="radio" type="radio" checked>
                Checked
            </label>
            <label for="radio-2">
                <input id="radio-2" name="radio" type="radio">
                UnChecked
            </label>
        </div>
        <script src="https://emgithub.com/embed.js?target=https%3A%2F%2Fgithub.com%2Fanandsr21harshit%2FEdith%2Fblob%2Fsnippet%2FComponents%2Fsnippet%2Finput.txt%23L12-L21&style=darcula&showCopy=on"></script>
        <footer class="page-footer">
            <a href="/Components/Image/image.html" class="footer-button">&lt; Image</a>
            <a href="/Components/List/list.html" class="footer-button">List &gt;</a>
        </footer>
    </main>
</body>
</html>