<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/layout.css">
    <link rel="stylesheet" href="Buttons.css">
    <title>Buttons</title>
</head>
<body> 
    <header class="page-header">
        <a class="brandname-link" href="/index.html">
            <span class="brandname">
                <img
                    class="brandname-logo"
                    src="../Images/EDITH.jpg"
                    alt="logo"
                />
                <span class="brandname-title">E.D.I.T.H</span>
            </span>
        </a>
    </header>

    <nav class="site-nav">
        <div class="nav-main-heading">Getting Started</div>

        <div class="nav-sub-heading">
            <a href="../usage.html">Usage</a>
        </div>

        <div class="nav-main-heading">Components</div>
        <ul class="nav-comp-section">
            <li class="component-links">
                <a href="../Avatar/avatar.html">Avatar</a>
            </li>
            <li class="component-links">
                <a href="../Alert/Alert.html">Alert</a>
            </li>
            <li class="component-links">
                <a href="../Buttons/Buttons.html">Buttons</a>
            </li>
            <li class="component-links">
                <a href="../Card/card.html">Card</a>
            </li>   
            <li class="component-links">
                <a href="../Image/image.html">Image</a>
            </li>
            <li class="component-links">
                <a href="../Input/input.html">Input</a>
            </li>
        </ul>
    </nav>
    <main class="comp-disp">
        <h1 class="comp-disp-header">Buttons</h1>
        <h2 class="sub-comp-header">Solid Buttons</h2>
        <div class="btn-container">
            <button type="button" class="btn btn-primary">Primary</button>
            <button type="button" class="btn btn-secondary">Secondary</button>
            <button type="button" class="btn btn-success">Success</button>
            <button type="button" class="btn btn-danger">Danger</button>
            <button type="button" class="btn btn-warning">Warning</button>
            <button type="button" class="btn btn-info">Info</button>
        </div>
        <script src="https://emgithub.com/embed.js?target=https%3A%2F%2Fgithub.com%2Fanandsr21harshit%2FEdith%2Fblob%2Fsnippet%2FComponents%2Fsnippet%2Fbuttons.txt%23L1-L8&style=darcula&showCopy=on"></script>

        <h2 class="sub-comp-header">Outline Buttons</h2>
        <div class="btn-container">
            <button type="button" class="btn btn-outline btn-primary-outline">Primary</button>
            <button type="button" class="btn btn-outline btn-secondary-outline">Secondary</button>
            <button type="button" class="btn btn-outline btn-success-outline">Success</button>
            <button type="button" class="btn btn-outline btn-danger-outline">Danger</button>
            <button type="button" class="btn btn-outline btn-warning-outline">Warning</button>
            <button type="button" class="btn btn-outline btn-info-outline">Info</button>
        </div>
        <script src="https://emgithub.com/embed.js?target=https%3A%2F%2Fgithub.com%2Fanandsr21harshit%2FEdith%2Fblob%2Fsnippet%2FComponents%2Fsnippet%2Fbuttons.txt%23L10-L17&style=darcula&showCopy=on"></script>

        <h2 class="sub-comp-header">Link Button</h2>
        <div class="btn-container">
            <a href="#" class="btn btn-primary btn-link">Link</a></button>
        </div>
        <script src="https://emgithub.com/embed.js?target=https%3A%2F%2Fgithub.com%2Fanandsr21harshit%2FEdith%2Fblob%2Fsnippet%2FComponents%2Fsnippet%2Fbuttons.txt%23L19-L21&style=darcula&showCopy=on"></script>

        <h2 class="sub-comp-header">Image Button</h2>
        <div class="btn-container">
            <div class="btn btn-outline btn-primary-outline btn-icon">
                <img class="icon" src="./images/save-fill.svg" alt="">
                <p>Save</p>
            </div>  
        </div>
        <script src="https://emgithub.com/embed.js?target=https%3A%2F%2Fgithub.com%2Fanandsr21harshit%2FEdith%2Fblob%2Fsnippet%2FComponents%2Fsnippet%2Fbuttons.txt%23L23-L28&style=darcula&showCopy=on"></script>
        <footer class="page-footer">
            <a href="/Components/Alert/Alert.html" class="footer-button">&lt; Alert</a>
            <a href="..//Card/card.html" class="footer-button"> Card &gt; </a>
        </footer> 
    </main>
</body>
</html>