<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Components/usage.css">
    <link rel="stylesheet" href="./utilities.css">
    <title>Utilities</title>
</head>
<body>
    <header class="page-header">
        <a class="brandname-link" href="/index.html">
            <span class="brandname">
                <img
                    class="brandname-logo"
                    src="../Images/EDITH.jpg"
                    alt="logo"
                />
                <span class="brandname-title">E.D.I.T.H</span>
            </span>
        </a>
    </header>
    <nav class="site-nav">
        <div class="nav-main-heading">Getting Started</div>

        <div class="nav-sub-heading">
            <a href="../usage.html">Usage</a>
        </div>

        <div class="nav-main-heading">Components</div>
        <ul class="nav-comp-section">
            <li class="component-links">
                <a href="../Avatar/avatar.html">Avatar</a>
            </li>
            <li class="component-links">
                <a href="../Alert/Alert.html">Alert</a>
            </li>
            <li class="component-links">
                <a href="../Buttons/Buttons.html">Buttons</a>
            </li>
            <li class="component-links">
                <a href="../Badge/badge.html">Badge</a>
            </li>
            <li class="component-links">
                <a href="../Card/card.html">Card</a>
            </li>   
            <li class="component-links">
                <a href="../Image/image.html">Image</a>
            </li>
            <li class="component-links">
                <a href="../Input/input.html">Input</a>
            </li>
            <li class="component-links">
                <a href="../List/list.html">List</a>
            </li>
            <li class="component-links">
                <a href="../Navigation/navigation.html">Navigation</a>
            </li>
            <li class="component-links">
                <a href="../Modal/modal.html">Modal</a>
            </li>
            <li class="component-links">
                <a href="../Utilities/utilities.html" class="active">Utilities</a>
            </li>
            <li class="component-links">
                <a href="../Grid//grid.html">Grid</a>
            </li>
        </ul>
    </nav>

    <main class="comp-disp">
        <h1 class="comp-disp-header">Text Utilities</h1>
        <p class="comp-desc">Utilities are helpful in maintaining the consistency of all the pages while building the website.</p>

        <h2 class="sub-comp-header">Headings</h2>
        <p class="comp-desc">
            The class names <span class="keywords">heading1, heading2, heading3, heading4, heading5</span> and <span class="keywords">heading6</span> are given represnting level of headings with 1 being the highest and 6 being the lowest.
            The font sizes used by these classes are 48px, 40px, 32px, 28px, 20px and 12px respectively.
        </p>
        <div class="heading-container">
            <h1 class="heading-1">Heading 1</h1>
            <h2 class="heading-2">Heading 2</h2>
            <h3 class="heading-3">Heading 3</h3>
            <h4 class="heading-4">Heading 4</h4>
            <h5 class="heading-5">Heading 5</h5>
            <h6 class="heading-6">Heading 6</h6>
        </div>
        <script src="https://emgithub.com/embed.js?target=https%3A%2F%2Fgithub.com%2Fanandsr21harshit%2FEdith%2Fblob%2Ftemp-dev%2FComponents%2Fsnippet%2Futilities.txt%23L1-L6&style=darcula&showCopy=on"></script>

        <h2 class="sub-comp-header">Margin</h2>
        <p class="comp-desc">We have three variants in margin, <span class="keywords">margin8 </span> will give 8px margin from all sides, <span class="keywords">margin16</span> will give 16px margin from all sides and <span class="keywords">margin24</span> will give 24px margin from all sides</p>

        <div class="margin-container">
            <p class="margin-8">This Paragraph has margin of 8px</p>
            <p class="margin-16">This Paragraph has margin of 16px</p>
            <p class="margin-24">This Paragraph has margin of 24px</p>
        </div>
        <script src="https://emgithub.com/embed.js?target=https%3A%2F%2Fgithub.com%2Fanandsr21harshit%2FEdith%2Fblob%2Ftemp-dev%2FComponents%2Fsnippet%2Futilities.txt%23L8-L10&style=darcula&showCopy=on"></script>

        <h2 class="sub-comp-header">Padding</h2>
        <p class="comp-desc">We have 2 variants here, <span class="keywords">padding-8</span> and <span class="keywords">padding-16</span> having 8px and 16px respectively</p>
        <div class="padding-container">
            <p class="padding-8">This Paragraph has padding of 8px</p>
            <p class="padding-16">This Paragraph has padding of 16px</p>
        </div>
        <script src="https://emgithub.com/embed.js?target=https%3A%2F%2Fgithub.com%2Fanandsr21harshit%2FEdith%2Fblob%2Ftemp-dev%2FComponents%2Fsnippet%2Futilities.txt%23L12-L13&style=darcula&showCopy=on"></script>
        <footer class="page-footer">
            <a href="../Modal/modal.html" class="footer-button">&lt; Modal</a>
            <a href="/Components/Grid/grid.html" class="footer-button">Grid &gt;</a>
        </footer>
    </main>
</body>
</html>