<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./usage.css">
    <title>EDITH: Usage</title>
</head>
<body>
    <header class="page-header">
        <a class="brandname-link" href="/index.html">
            <span class="brandname">
                <img
                    class="brandname-logo"
                    src="../EDITH.jpg"
                    alt="logo"
                />
                <span class="brandname-title">E.D.I.T.H</span>
            </span>
        </a>
    </header>

    <nav class="site-nav">
        <div class="nav-main-heading">Getting Started</div>

        <div class="nav-sub-heading">
            <a href="./usage.html">Usage</a>
        </div>

        <div class="nav-main-heading">Components</div>
        <ul class="nav-comp-section">
            <li class="component-links">
                <a href="../Components/Avatar/avatar.html">Avatar</a>
            </li>
            <li class="component-links">
                <a href="../Components/Alert/Alert.html">Alert</a>
            </li>
            <li class="component-links">
                <a href="../Components/Buttons/Buttons.html">Buttons</a>
            </li>
            <li class="component-links">
                <a href="../Components/Card/card.html">Card</a>
            </li>   
            <li class="component-links">
                <a href="#">Image</a>
            </li>
            <li class="component-links">
                <a href="../Components/Input/input.html">Input</a>
            </li>
        </ul>
    </nav>
    <main class="comp-disp">
        <h1 class="comp-disp-header">Usage</h1>
        <p class="comp-desc">
            To start using the components in your project import the
            stylesheet in your css or html file.
        </p>
        <img class="import" src="/Components/usage.png" alt="css-import">
        <p class="comp-desc">
            You can also import individual components if you only need a few
            of them. The links to import individual components can be found
            in their respective pages.
        </p>
        <footer class="page-footer">
            <a href="" class="footer-button"></a>
            <a href="./Avatar/avatar.html" class="footer-button"> Avatar &gt; </a>
        </footer>
    </main>
</body>
</html>