<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Components/usage.css">
    <link rel="stylesheet" href="./list.css">
    <title>List</title>
</head>
<body>
    <header class="page-header">
        <a class="brandname-link" href="/index.html">
            <span class="brandname">
                <img
                    class="brandname-logo"
                    src="../Images/EDITH.jpg"
                    alt="logo"
                />
                <span class="brandname-title">E.D.I.T.H</span>
            </span>
        </a>
    </header>

    <nav class="site-nav">
        <div class="nav-main-heading">Getting Started</div>

        <div class="nav-sub-heading">
            <a href="../usage.html">Usage</a>
        </div>

        <div class="nav-main-heading">Components</div>
        <ul class="nav-comp-section">
            <li class="component-links">
                <a href="../Avatar/avatar.html">Avatar</a>
            </li>
            <li class="component-links">
                <a href="../Alert/Alert.html">Alert</a>
            </li>
            <li class="component-links">
                <a href="../Buttons/Buttons.html">Buttons</a>
            </li>
            <li class="component-links">
                <a href="../Card/card.html">Card</a>
            </li>   
            <li class="component-links">
                <a href="../Image/image.html">Image</a>
            </li>
            <li class="component-links">
                <a href="../Input/input.html">Input</a>
            </li>
            <li class="component-links">
                <a href="../List/list.html">List</a>
            </li>
        </ul>
    </nav>
    <main class="comp-disp">
        <h1 class="comp-disp-header">List</h1>
        <h2 class="sub-comp-header">Simple List</h2>
        <ul class="list-container">
            <div class="list-heading">Books</div>
            <li>Fiction</li>
            <li>Comedy</li>
            <li>Adventure</li>
        </ul>

        <h2 class="sub-comp-header">Stacked List</h2>
        <ul class="list-container">
            <div class="list-heading">Books</div>
            <li class="stacked">Fiction</li>
            <li class="stacked">Comedy</li>
            <li class="stacked">Adventure</li>
        </ul>
        <footer class="page-footer">
            <a href="/Components/Input/input.html" class="footer-button">&lt; Input</a>
            <a href="" class="footer-button"></a>
        </footer>
    </main>
</body>
</html>