<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Components/usage.css">
    <link rel="stylesheet" href="./navigation.css">
    <title>Navigation</title>
</head>
<body>
    <header class="page-header">
        <a class="brandname-link" href="/index.html">
            <span class="brandname">
                <img
                    class="brandname-logo"
                    src="../Images/EDITH.jpg"
                    alt="logo"
                />
                <span class="brandname-title">E.D.I.T.H</span>
            </span>
        </a>
    </header>

    <nav class="site-nav">
        <div class="nav-main-heading">Getting Started</div>

        <div class="nav-sub-heading">
            <a href="../usage.html">Usage</a>
        </div>

        <div class="nav-main-heading">Components</div>
        <ul class="nav-comp-section">
            <li class="component-links">
                <a href="../Avatar/avatar.html">Avatar</a>
            </li>
            <li class="component-links">
                <a href="../Alert/Alert.html">Alert</a>
            </li>
            <li class="component-links">
                <a href="../Buttons/Buttons.html">Buttons</a>
            </li>
            <li class="component-links">
                <a href="../Badge/badge.html">Badge</a>
            </li>
            <li class="component-links">
                <a href="../Card/card.html">Card</a>
            </li>   
            <li class="component-links">
                <a href="../Image/image.html">Image</a>
            </li>
            <li class="component-links">
                <a href="../Input/input.html">Input</a>
            </li>
            <li class="component-links">
                <a href="../List/list.html">List</a>
            </li>
            <li class="component-links">
                <a href="../Navigation/navigation.html" class="active">Navigation</a>
            </li>
            <li class="component-links">
                <a href="../Modal/modal.html">Modal</a>
            </li>
        </ul>
    </nav>

    <main class="comp-disp">
        <h1 class="comp-disp-header">Navigation Bar</h1>
        <p class="comp-desc">Navigation are helpful for switching between the two pages</p>
        <script src="https://emgithub.com/embed.js?target=https%3A%2F%2Fgithub.com%2Fanandsr21harshit%2FEdith%2Fblob%2Fdev%2FComponents%2Fsnippet%2Fnavigation-css.txt&style=darcula&showCopy=on"></script>

        <h2 class="sub-comp-header">Responsive Navigation Bar</h2>
        <nav class="nav-bar">
            <h1 class="nav-brand">My Website</h1>
            <ul class="menus">
                <li class="menu"><a href="">Home</a></li>
                <li class="menu"><a href="">About</a</li>
                <li class="menu"><a href="">Contacts</a></li>
            </ul>
        </nav>
        <script src="https://emgithub.com/embed.js?target=https%3A%2F%2Fgithub.com%2Fanandsr21harshit%2FEdith%2Fblob%2Fdev%2FComponents%2Fsnippet%2Fnavigation.txt&style=darcula&showCopy=on"></script>
        <footer class="page-footer">
            <a href="/Components/List/list.html" class="footer-button">&lt; List</a>
            <a href="/Components/Modal/modal.html" class="footer-button">Modal &gt;</a>
        </footer>
    </main>
</body>
</html>