<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Components/usage.css">
    <link rel="stylesheet" href="./badge.css">
    <title>Badge</title>
</head>
<body>
    <header class="page-header">
        <a class="brandname-link" href="/index.html">
            <span class="brandname">
                <img
                    class="brandname-logo"
                    src="../Images/EDITH.jpg"
                    alt="logo"
                />
                <span class="brandname-title">E.D.I.T.H</span>
            </span>
        </a>
    </header>

    <nav class="site-nav">
        <div class="nav-main-heading">Getting Started</div>

        <div class="nav-sub-heading">
            <a href="../usage.html">Usage</a>
        </div>

        <div class="nav-main-heading">Components</div>
        <ul class="nav-comp-section">
            <li class="component-links">
                <a href="../Avatar/avatar.html">Avatar</a>
            </li>
            <li class="component-links">
                <a href="../Alert/Alert.html">Alert</a>
            </li>
            <li class="component-links">
                <a href="../Buttons/Buttons.html">Buttons</a>
            </li>
            <li class="component-links">
                <a href="../Badge/badge.html" class="active">Badge</a>
            </li>
            <li class="component-links">
                <a href="../Card/card.html">Card</a>
            </li>   
            <li class="component-links">
                <a href="../Image/image.html">Image</a>
            </li>
            <li class="component-links">
                <a href="../Input/input.html">Input</a>
            </li>
            <li class="component-links">
                <a href="../List/list.html">List</a>
            </li>
            <li class="component-links">
                <a href="../Navigation/navigation.html">Navigation</a>
            </li>
            <li class="component-links">
                <a href="../Modal/modal.html">Modal</a>
            </li>
            <li class="component-links">
                <a href="../Utilities/utilities.html">Utilities</a>
            </li>
            <li class="component-links">
                <a href="../Grid//grid.html">Grid</a>
            </li>
        </ul>
    </nav>
    <main class="comp-disp">
        <h1 class="comp-disp-header">Badge</h1>
        <script src="https://emgithub.com/embed.js?target=https%3A%2F%2Fgithub.com%2Fanandsr21harshit%2FEdith%2Fblob%2Fdev%2FComponents%2Fsnippet%2Fbadge-css.txt&style=darcula&showCopy=on"></script>
        <p class="comp-desc">Useful in displaying notification count</p>
        <div class="badge-container">
            <img class="bag-icon" src="./bag-fill.svg" alt="Bag Icon">
            <div class="notification">2</div>
        </div>
        <div class="badge-container">
            <img class="message-icon" src="./chat.svg" alt="Chat Icon">
            <div class="notification msg-count">2</div>
        </div>
        <script src="https://emgithub.com/embed.js?target=https%3A%2F%2Fgithub.com%2Fanandsr21harshit%2FEdith%2Fblob%2Fdev%2FComponents%2Fsnippet%2Fbadge.txt%23L1-L8&style=darcula&showCopy=on"></script>
        <p class="comp-desc">The badge component can be used with and without the badge count</p>
        <footer class="page-footer">
            <a href="/Components/Buttons/Buttons.html" class="footer-button">&lt; Buttons</a>
            <a href="/Components/Card/card.html" class="footer-button"> Card &gt; </a>
        </footer>
    </main>
</body>
</html>