<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
    <link rel="stylesheet" href="Alert.css">
    <title>Alert</title>
</head>
<body>
    <div class="alert-wrapper">
        <div class="alert alert-primary">Primary Alert</div>
        <div class="alert alert-secondary">Secondary Alert</div>
        <div class="alert alert-success">Success Alert</div>
        <div class="alert alert-danger">Danger Alert</div>
        <div class="alert alert-warning">Warning Alert</div>
        <div class="alert alert-info">Info Alert</div>
        <div class="alert alert-dark">Dark Alert</div>

        <div class="alert alert-info-icon"><i class="bi bi-info-circle-fill"></i>This is Info</div>
        <div class="alert alert-warning-icon"><i class="bi bi-exclamation-triangle-fill"></i>This is Warning</div>
        <div class="alert alert-danger-icon"><i class="bi bi-x-circle-fill"></i>This is danger</div>
    </div>
</body>
</html>