<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
    <link rel="stylesheet" href="../css/layout.css">
    <link rel="stylesheet" href="Alert.css">
    <title>Alert</title>
</head>
<body> 
    <header class="page-header">
        <a class="brandname-link" href="/index.html">
            <span class="brandname">
                <img
                    class="brandname-logo"
                    src="../Images/EDITH.jpg"
                    alt="logo"
                />
                <span class="brandname-title">E.D.I.T.H</span>
            </span>
        </a>
    </header>

    <nav class="site-nav">
        <div class="nav-main-heading">Getting Started</div>

        <div class="nav-sub-heading">
            <a href="../usage.html">Usage</a>
        </div>

        <div class="nav-main-heading">Components</div>
        <ul class="nav-comp-section">
            <li class="component-links">
                <a href="../Avatar/avatar.html">Avatar</a>
            </li>
            <li class="component-links">
                <a href="../Alert/Alert.html">Alert</a>
            </li>
            <li class="component-links">
                <a href="../Buttons/Buttons.html">Buttons</a>
            </li>
            <li class="component-links">
                <a href="../Card/card.html">Card</a>
            </li>   
            <li class="component-links">
                <a href="../Image/image.html">Image</a>
            </li>
            <li class="component-links">
                <a href="../Input/input.html">Input</a>
            </li>
        </ul>
    </nav>
    <main class="comp-disp">
        <h1 class="comp-disp-header">Alert</h1>
        <h2 class="sub-comp-header">Standard Alerts</h2>
        <p class="comp-desc">There are 7 variants in alerts</p>
        <div class="alert-wrapper">
            <div class="alert alert-primary">Primary Alert</div>
            <div class="alert alert-secondary">Secondary Alert</div>
            <div class="alert alert-success">Success Alert</div>
            <div class="alert alert-danger">Danger Alert</div>
            <div class="alert alert-warning">Warning Alert</div>
            <div class="alert alert-info">Info Alert</div>
            <div class="alert alert-dark">Dark Alert</div>
        </div> 
        <script src="https://emgithub.com/embed.js?target=https%3A%2F%2Fgithub.com%2Fanandsr21harshit%2FEdith%2Fblob%2Fdev%2FComponents%2FAlert%2FAlert.html%23L59-L67&style=darcula&showCopy=on"></script>

        <h2 class="sub-comp-header">Alerts with icon</h2>
        <div class="alert-wrapper">
            <div class="alert alert-info-icon"><i class="bi bi-info-circle-fill"></i>This is Info</div>
            <div class="alert alert-warning-icon"><i class="bi bi-exclamation-triangle-fill"></i>This is Warning</div>
            <div class="alert alert-danger-icon"><i class="bi bi-x-circle-fill"></i>This is danger</div>
        </div>
        <script src="https://emgithub.com/embed.js?target=https%3A%2F%2Fgithub.com%2Fanandsr21harshit%2FEdith%2Fblob%2Fdev%2FComponents%2FAlert%2FAlert.html%23L71-L75&style=darcula&showCopy=on"></script>
        <footer class="page-footer">
            <a href="/Components/Avatar/avatar.html" class="footer-button">&lt; Avatar</a>
            <a href="../Buttons/Buttons.html" class="footer-button"> Buttons &gt; </a>
        </footer>
    </main>
</body>
</html>