<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alert</title>
</head>
<body>
    <div class="alert">Primary Alert</div>
    <div class="alert">Secondary Alert</div>
    <div class="alert">Success Alert</div>
    <div class="alert">Danger Alert</div>
    <div class="alert">Warning Alert</div>
    <div class="alert">Info Alert</div>
    <div class="alert">Dark Alert</div>
</body>
</html>